<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.codeqi.project.Mapper.RoleMapper">
    <!-- 增【G】 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into
		role (role_name,role_info,create_time)
		values (#{roleName},#{roleInfo},#{createTime})
	</insert>

    <!-- 删 -->
    <delete id="delete">
		delete from role where id = #{id}
	</delete>

    <!-- 改【G】 -->
    <update id="update">
		update role set
		role_name = #{roleName},
		role_info = #{roleInfo}
		where id = #{id}
	</update>


    <!-- ================================== 查询相关 ================================== -->
    <!-- select id, uid, mouth, basic, postion, merit, fare, total_wages, personal_leave, late, social_security, accumulation_fund, other, total_deduct, net_payment from payrolls  -->

    <!-- 通用映射：自动模式 -->
    <resultMap id="model" autoMapping="true" type="club.codeqi.project.pojo.Role"></resultMap>


    <!-- 通用映射：手动模式 -->
    <resultMap id="role_Map" type="club.codeqi.project.pojo.Role">
        <id property="id" column="id" />
        <result property="roleName" column="role_name"/>
        <result property="roleInfo" column="role_info"/>
        <result property="createTime" column="create_time"></result>
        <collection property="permissions" ofType="club.codeqi.project.pojo.Permission" column="id">
            <id property="id" column="perid"></id>
            <result property="permissionCode" column="permission_code"></result>
            <result property="permissionInfo" column="permission_info"></result>
        </collection>
    </resultMap>


    <!-- 公共查询sql片段 -->
    <sql id="select_sql">
		SELECT
			r.*, p.id perid, p.permission_code, p.permission_info
		FROM
			role r
		LEFT JOIN permission p ON r.id = p.rid
	</sql>


    <!-- 查 -->
    <select id="selectByid" resultMap="role_Map">
        <include refid="select_sql"></include>
        where r.id = #{id}
    </select>

    <!-- 查询，根据条件(参数为null或0时默认忽略此条件)【G】 -->
    <select id="selectAll" resultMap="role_Map">
        <include refid="select_sql"></include>
        group by r.id
    </select>


</mapper>
